/*
  Font cheatsheet:
    400 gg sans Normal
    500 gg sans Medium
    600 gg sans SemiBold
    700 gg sans
    800 gg sans ExtraBold
*/

/*

Supports:

  Type Selectors: * or a widget's __qualname__

  Selector Lists (',')

  Selector Combinators:
    Descendant (' ')
    Child      ('>')

  Pseudo-classes:
    :(!)hover
    :(!)checked
    :(!)dragged
    :has(relative-selector*)
      where relative-selector is a complex selector

*/

/* TODO unit handling for custom items without units */

/* TODO tooltip font is 500 14px except server title, 600 16px */

/* TODO svg fill colors */


* { margin: 0px; padding: 0px; spacing: 0px; }

LoadingScreen               { background: rgb(38, 37, 46); }
DiscordUI, NoChannelScreen  { background: rgb(30, 31, 34); }
GuildHeader, SearchHeader,
ChannelList, DMList,
MemberList, ScrollBar       { background: rgb(43, 45, 49); }
Nametag                     { background: rgb(35, 36, 40); }
TextChannelMenuBar,
ChatBox, Avatar             { background: rgb(49, 51, 56); }

DiscordUI                   { min-width: 940px; min-height: 478px;}
GuildList                   { width: 72px;  }
GuildHeader, SearchHeader,
ChannelList, DMList,
Nametag, MemberList         { width: 240px; }
GuildHeader, SearchHeader,
TextChannelMenuBar          { height: 48px; }
Nametag                     { height: 52px; }

#Popup {
  padding: 40px 0px;
  background: rgba(0, 0, 0, 0);
  transition: background 400ms linear;
}
#Popup:checked {
  background: rgba(0, 0, 0, 0.85);
}

Tooltip {
  background: rgb(17, 18, 20);
  color: rgb(219, 222, 225);
  border-radius: 5px;
  padding: 6px 12px;
}
TooltipText {
  max-width: 172px;
}

NoChannelScreen #Image {
  width: 272px; height: 222px;
  image: url("local:no-channels.svg");
}
NoChannelScreen > #Title { font: 600 17px "gg sans SemiBold"; }
NoChannelScreen > #SubTitle { font: 400 16px "gg sans Normal"; }
NoChannelScreen > QLabel { width: 440px; color: rgb(148, 155, 164); }

Member {
  width: 232px; height: 44px;
  margin: 1px 0px 1px 8px; padding: 1px 8px; border-radius: 4px;
  color: rgb(148, 155, 164); cursor: pointer;
}
Member:hover:unchecked {
  background: rgba(78, 80, 88, 0.298);
  color: rgb(219, 222, 225);
}
Member:checked {
  background: rgba(78, 80, 88, 0.6);
  color: rgb(255, 255, 255);
}
Member:unhover:unactive { opacity: 0.3; }
Avatar {
  width: 44px; height: 32px;
  margin: 0px 12px 0px 0px; border-radius: 16px;
  font: 500 14px "gg sans Medium";
}
#StatusZone { width: 10px; height: 10px; left: 22px; top: 21px; }
Avatar > SmallTypingBubbles {
  width: 18px; height: 6px; left: 18px; top: 24px;
}
Username > #Username { font: 500 16px "gg sans Medium"; }
Username > #ServerOwner {
  width: 14px; height: 14px;
  image: url("local:server-owner.svg");
  font: 500 14px "gg sans Medium";
}
Username > #ServerOwner:hover { tooltip: "Server Owner"; }
Username > #BotTag {
  height: 16px;
  margin: 1px 0px 0px 4px; padding: 0px 4px; border-radius: 3px;
  background: rgb(88, 101, 242);
  font: 500 10px "gg sans Medium"; color: rgb(255, 255, 255);
}
Username > #BotTag > #Verified {
  width: 15px; height: 15px;
  image: url("local:verified-bot.svg");
  font: 500 14px "gg sans Medium";
}
Username > #BotTag > #Verified:hover { tooltip: "Verified Bot"; }
Activity { font: 500 12px "gg sans Medium"; color: rgb(148, 155, 164); }
Activity > #Bold { font: 600 12px "gg sans SemiBold"; }

/******************************* GuildList *******************************/

GuildList #Content { padding-top: 4px; }
Guild {
  height: 56px;
  padding: 0px 12px 8px;
  font: 600 16px "gg sans SemiBold";
}
Guild > #Pill {
  width: 4px; height: 40px; top: 4px;
  border-top-right-radius: 4px; border-bottom-right-radius: 4px;
  background: rgb(242, 243, 245);
  margin-top: 20px; margin-bottom: 20px;
  transition: margin-top 150ms ease-out, margin-bottom 150ms ease-out;
}
Guild:notify:has(Icon:unhover:unchecked:undragged) > #Pill {
  margin-top: 16px; margin-bottom: 16px;
}
Guild:has(Icon:hover:unchecked:undragged) > #Pill {
  margin-top: 10px; margin-bottom: 10px;
}
Guild:has(Icon:checked:undragged) > #Pill {
  margin-top: 0px; margin-bottom: 0px;
}
Guild:has(Icon:dragged) > #Pill {
  margin-top: 20px; margin-bottom: 20px;
}
Icon {
  width: 48px; height: 48px; cursor: pointer;
  font: 500 16px "gg sans Medium"; color: rgb(219, 222, 225);
  background: rgb(49, 51, 56); border-radius: 24px;
  tooltip-anchor: right; tooltip-distance: 12px;
  transition: background 150ms ease-out,
    border-radius 150ms ease-out, color 150ms ease-out;
}
Icon:hover:unchecked:undragged {
  background: rgb(88, 101, 242);
  border-radius: 16px;
  color: rgb(255, 255, 255);
}
Icon:checked:undragged {
  background: rgb(88, 101, 242);
  border-radius: 16px;
  color: rgb(255, 255, 255);
}
Icon:dragged {
  background: rgb(49, 51, 56);
  border-radius: 16px;
  color: rgb(255, 255, 255);
}
Icon > QSvgWidget {
  width: 28px; height: 20px;
}
#GuildListDivider {
  height: 10px;
  margin: 0px 20px 8px; border-radius: 1px;
  background: rgb(55, 58, 63);
}
GuildListInsert {
  height: 4px; width: 72px;
  margin: 0px 4px; border-radius: 2px;
  background: rgb(35, 165, 90);
}

/******************************* NavigationPane *******************************/

SearchHeader {
  padding: 10px; border-top-left-radius: 8px;
}
SearchHeader > QLabel {
  background: rgb(30, 31, 34); cursor: pointer;
  padding: 1px 6px; border-radius: 4px;
  font: 500 14px "gg sans Medium"; color: rgb(148, 155, 164);
}

GuildHeader {
  padding: 12px 16px; border-top-left-radius: 8px;
  transition: background 100ms linear;
}
GuildHeader:hover { background: rgb(54, 55, 61); }
GuildHeader > QLabel {
  font: 600 16px "gg sans SemiBold"; color: rgb(242, 243, 245);
}

ChannelList { scrollbar-width: 8px; }
ChannelList #Content { padding-bottom: 12px; }

DMList { scrollbar-width: 8px; }
DMList #Content { padding-bottom: 8px; }

Category > CategoryHeader { padding-top: 16px; }
Category > CategoryHeader > QPushButton {
  width: 232px; height: 24px; padding-left: 16px; padding-right: 8px;
}
DMList > CategoryHeader { padding: 18px 8px 4px 18px; }
DMList > CategoryHeader > QPushButton { width: 206px; height: 18px; }
CategoryHeader > QPushButton {
  background: rgba(0, 0, 0, 0); text-align: left; cursor: pointer;
  font: 600 12px "gg sans SemiBold"; color: rgb(148, 155, 164);
}
CategoryHeader > QPushButton:hover {
  color: rgb(241, 242, 244);
}
CategoryHeader > QPushButton > ChannelDropdown {
  width: 12px; height: 12px; left: 2px; top: 6px;
  rotate: 0;
  transition: rotate 200ms ease-out;
}
CategoryHeader > QPushButton:checked > ChannelDropdown { rotate: -90; }

Channel {
  width: 232px; height: 34px;
  margin: 1px 0px 1px 8px; padding: 0px 8px; spacing: 6px;
  border-radius: 4px; cursor: pointer;
  font: 500 16px "gg sans Medium"; color: rgb(148, 155, 164);
}
Channel:hover:unchecked { background: rgba(78, 80, 88, 0.298); }
Channel:hover:unchecked:unnotify { color: rgb(219, 222, 225); }
Channel:checked { background: rgba(78, 80, 88, 0.6); }
Channel:checked, Channel:notify { color: rgb(255, 255, 255); }
Channel > #Pill {
  width: 4px; height: 8px; top: 13px;
  border-top-right-radius: 4px; border-bottom-right-radius: 4px;
  background: rgb(255, 255, 255);
  margin-top: 4px; margin-bottom: 4px;
}
Channel:unchecked:notify > #Pill {
  margin-top: 0px; margin-bottom: 0px;
}
Channel > #ChannelIcon {
  width: 20px; height: 20px;
  font: 500 14px "gg sans Medium";
}

/******************************* Nametag *******************************/

Nametag { padding: 7px 8px 6px 6px; }
ClientUser { padding: 0px 4px 0px 2px; border-radius: 4px; cursor: pointer; }
ClientUser > #Username {
  padding-top: 4px;
  font: 600 14px "gg sans SemiBold"; color: rgb(242, 243, 245);
}
ClientUser > #Discriminator {
  padding-bottom: 4px;
  font: 400 12px "gg sans Normal"; color: rgb(181, 186, 193);
}
#MuteButton, #DeafenButton {
  width: 32px; height: 32px; icon-size: 20px;
  border-radius: 4px; cursor: pointer;
  font: 500 14px "gg sans Medium";
}
ClientUser:hover, #MuteButton:hover, #DeafenButton:hover {
  background: rgba(78, 80, 88, 0.6);
}
#MuteButton                 { icon: url("local:mute.svg"); }
#MuteButton:checked         { icon: url("local:unmute.svg"); }
#MuteButton:hover:unchecked {
  icon: url("local:mute-hover.svg"); tooltip: "Mute";
}
#MuteButton:hover:checked   {
  icon: url("local:unmute-hover.svg"); tooltip: "Unmute";
}
#DeafenButton                 { icon: url("local:deafen.svg"); }
#DeafenButton:checked         { icon: url("local:undeafen.svg"); }
#DeafenButton:hover:unchecked {
  icon: url("local:deafen-hover.svg"); tooltip: "Deafen";
}
#DeafenButton:hover:checked   {
  icon: url("local:undeafen-hover.svg"); tooltip: "Undeafen";
}

/******************************* MenuBar *******************************/

TextChannelMenuBar {
  padding: 0px 8px;
  font: 600 16px "gg sans SemiBold"; color: rgb(242, 243, 245);
}
TextChannelMenuBar > #ChannelIcon, MenuBarControls > QPushButton {
  width: 40px; height: 24px; icon-size: 24px;
  font: 500 14px "gg sans Medium";
  background: rgb(49, 51, 56); border: none;
}
MenuBarControls > QPushButton { cursor: pointer; }
#TopicDivider {
  width: 33px; height: 24px; margin: 0px 16px;
  background: rgba(78, 80, 88, 0.48);
}
#ChannelTopic {
  background: rgba(0, 0, 0, 0); text-align: left; cursor: pointer;
  font: 500 14px "gg sans Medium"; color: rgb(181, 186, 193);
}
MenuBarControls { height: 48px; }
#ControlsFade {
  width: 8px; height: 48px;
  /* suppress background: qlineargradient(
    x1:0, y1:0, x2:1, y2:0,
    stop:0 rgba(54, 57, 63, 0), stop:1 rgb(49, 51, 56)
  ); */
}
#ShowMemberList {
  tooltip-anchor: bottom;
  icon: url("local:show-member-list.svg");
}
#ShowMemberList:hover { icon: url("local:show-member-list-hover.svg"); }
#ShowMemberList:unhover:checked {
  icon: url("local:show-member-list-checked.svg");
}
#ShowMemberList:hover:unchecked { tooltip: "Show Member List"; }
#ShowMemberList:hover:checked   { tooltip: "Hide Member List"; }
TopicPopup {
  width: 490px; min-height: 200px; border-radius: 4px;
  background: rgb(49, 51, 56);
}
TopicPopup > #TitleContainer { padding: 16px; spacing: 10px; height: 66px;}
TopicPopup > #Title {
  font: 600 20px "gg sans SemiBold"; color: rgb(242, 243, 245);
}
TopicPopup > SvgPushButton {
  width: 32px; height: 32px; padding: 4px;
}
TopicPopup > SvgPushButton > #Content {
  color: rgb(115, 118, 124);
  transition: color 200ms ease-in-out;
}
TopicPopup > SvgPushButton:hover > #Content { color: rgb(219, 222, 225); }
TopicPopup > SmoothQScrollArea { scrollbar-width: 8px; }
TopicPopup > SmoothQScrollArea #Content { padding: 0px 8px 20px 16px; }
TopicPopup ScrollBar { background: rgba(0, 0, 0, 0); }
TopicPopup #Topic {
  width: 458px;
  font: 400 16px "gg sans Normal"; color: rgb(219, 222, 225);
}

/******************************* ChatBox *******************************/

ChatBox > SmoothQScrollArea { scrollbar-width: 16px; }
ChatBox > SmoothQScrollArea #Content { padding-bottom: 22px; }

DateHeader { height: 33px; }
#DateLine {
  height: 33px; margin: 24px 14px 8px 16px;
  background: rgba(78, 80, 88, 0.48);
}
#DateHeader {
  padding: 0px 4px; background: rgb(49, 51, 56);
  font: 600 12px "gg sans SemiBold"; color: rgb(148, 155, 164); 
}

Message {
  padding: 2px 48px 2px 72px;
  font: 400 16px "gg sans Normal"; color: rgb(219, 222, 225);
}
Message:hover { background: rgba(2, 2, 2, 0.06); }
Message > #Timestamp {
  width: 56px; height: 22px; top: 2px;
  font: 500 11px "gg sans Medium"; color: rgba(0, 0, 0, 0);
}
Message:hover > #Timestamp { color: rgb(148, 155, 164); }
Message > #Header { height: 22px; spacing: 8px; }
Message > #Header > #Timestamp {
  padding-top: 2px;
  font: 500 12px "gg sans Medium"; color: rgb(148, 155, 164);
}
Message > Avatar {
  width: 40px; height: 40px; top: 21px; left: 16px;
  background: rgba(0, 0, 0, 0);
}

MessageAccessories {
  padding: 2px 0px; spacing: 2px;
  font: 400 16px "gg sans Normal"; color: rgb(148, 155, 164);
}

ImageRenderer {
  border-radius: 8px; background: rgb(43, 45, 49); cursor: pointer;
  max-width: 550px; max-height: 350px;
}

Embed > * { max-width: 400px; color: rgb(219, 222, 225); }
Embed > #Border {
  width: 4px; border-top-left-radius: 4px; border-bottom-left-radius: 4px;
}
Embed > #Content {
  padding: 8px 16px 16px 12px;
  background: rgb(43, 45, 49);
  border-top-right-radius: 4px; border-bottom-right-radius: 4px;
}
Embed > QLabel { padding-top: 8px; }
Embed > ImageRenderer { margin-top: 16px; }
Embed > #Header { font: 600 16px "gg sans SemiBold"; }
Embed > #Description { font: 400 14px "gg sans Normal"; }
Embed > #Footer { font: 500 12px "gg sans Medium"; }

#Reactions { spacing: 4px; }
Reaction {
  padding: 4px 6px; spacing: 6px; border-radius: 8px;
  background: rgb(43, 45, 49); cursor: pointer;
  font: 600 14px "gg sans SemiBold"; color: rgb(181, 186, 193);
}
Reaction:hover:unchecked {
  border-style: solid; border-width: 1px;
  border-color: rgba(255, 255, 255, 0.2);
}
Reaction:checked {
  border-style: solid; border-width: 1px;
  border-color: rgb(88, 101, 242); background: rgba(88, 101, 242, 0.15);
}
Reaction > QLabel { min-width: 9px; }

TypingZone {
  padding: 0px 16px 0px 25px; height: 24px; spacing: 4px;
  font: 500 14px "gg sans Medium"; color: rgb(219, 222, 225);
}
TypingZone > TypingBubbles { width: 25px; height: 7px; }

/******************************* MemberList *******************************/

MemberList { scrollbar-width: 8px; }
MemberList #Content { padding-bottom: 20px; }
RoleHeader {
  height: 40px;
  margin: 24px 8px 0px 16px;
  font: 600 12px "gg sans SemiBold"; color: rgb(148, 155, 164);
}
